.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
  }
  .image2 {
    position: absolute;
    top: 15%;
    left: 70%;
    width: 25%;
  }
  #loading{
      background: #1B2B57;
      height:100%;
      width:100%;
  }

  .image3{
    height:100%;
    width:100%;
  }
  .image4{
    position: absolute;
    top: 20%;
    left: 33%;
    width: 35%; 
  }