.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .image2 {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
  }
  #loading{
      background: #1B2B57;
      height:100%;
      width:100%;
  }

  h1{
      margin: 75% 10% 0% 30%;
      width:40%;
      color:white;
  }
  .image3{
    height:100%;
    width:100%;
  }
  .image4{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 35%; 
  }